@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #4682B4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.weather-sec {
    text-align: center;
    width: 320px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.weather-sec .weather-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weather-sec input {
    padding: 10px;
    font-size: 16px;
    margin-right: 0px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.weather-sec button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1E90FF;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.weather-sec button:hover {
    background-color: #4682B4;
}

.weather-sec #weather-info {
    margin-top: 20px;
}

.weather-sec #weather-info p {
    border: 2px solid;
    padding: 10px;
}

.weather-sec #weather-info h2 {
    font-size: 24px;
}

.weather-sec #weather-info p {
    font-size: 18px;
}