* {
    /* padding: 0;
    margin: 0; */
}

body {
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-family: cursive;
}

.add-student {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 49%;
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 28px;
}

.add-student h1 {
    margin: 0;
}

.add-student input {
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 8px;
    font-family: cursive;
}

.add-student button {
    padding: 12px;
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid;
    font-family: cursive;
}

/* ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
li {
    width: 19.333%;
} */
#todo-list ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    padding: 12px 0;
}

#todo-list ul li {
    gap: 10px;
    width: 19.333%;
    position: relative;
    display: flex;
    justify-content: center;
}

#todo-list ul li:after {
    content: "";
    background: black;
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    right: 0;
}

#todo-list ul li:last-child:after {
    display: none;
}

.delete {
    background: red;
    color: white;
    padding: 10px 20px;
    border: 1px solid red;
    font-family: cursive;
}

.update {
    background: green;
    color: white;
    padding: 10px 20px;
    border: 1px solid green;
    font-family: cursive;
}

@media (min-width: 320px) and (max-width: 767px) {
    .add-student {
        width: auto;
    }
    #todo-list ul {
        flex-direction: column;
        gap: 12px;
    }
    #todo-list ul li {
        width: auto;
    }
    #todo-list ul li:after{
        display: none;
    }
}
