/* For Google Chrome (125% zoom level) */
@media screen and (-webkit-min-device-pixel-ratio: 1.25),
  screen and (min-resolution: 120dpi) {
}

@media (min-width: 1280px) and (max-width: 1366px) {

}

@media (min-width: 1024px) and (max-width: 1279px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {
  .cart-detail .cart-info {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .cart-detail .cart-info>.id,
  .cart-detail .cart-info>.product-image,
  .cart-detail .cart-info>.title,
  .cart-detail .cart-info>.price{
    width: auto;
  }
}